.container{
display: grid;
grid-template-columns: repeat(60,10px);
gap: 5px;
width: 90%;
margin: 0 auto;
background-color: white;
justify-content: center;

}
.items{
    display: flex;
   justify-content: center;
    align-items: center;
    background-color: yellow;
    border: 3px solid black;
    font-size: 2rem;
    font-weight: bold;
    

}
.item-1{
    grid-column: span 60;
    
}
.item-2{
    grid-column: span 30;
}
.item-3{
    grid-column: span 30;
}
.item-4{
    grid-column: span 20;
}
.item-5{
    grid-column: span 20;
}
.item-6{
    grid-column: span 20;
}
.item-7{
    grid-column: span 15;

}
.item-8{
    grid-column: span 15;

}
.item-9{
grid-column: span 15;
}
.item-10{
grid-column: span 15;
}
.item-11{
    grid-column: span 10;
}
    
.item-12{
    grid-column: span 10;

}
.item-13{
grid-column: span 10;
}
.item-14{
grid-column: span 10;
}
.item-15{
grid-column: span 10;
}
.item-16{
grid-column: span 10;
}
.item-17{
    grid-column: span 5;
}